* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* .container {
  display: grid;
  grid: 95px 95px 95px / 95px 95px 95px;
  gap: 5px;
  margin: 50px auto;
  background-color: #333;
  width: calc(3 * 95px + 2 * 5px);
  height: calc(3 * 95px + 2 * 5px);
}


.container > div {
  width: 95px;
  height: 95px;
  background-color:lightblue;
} */

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  background: #333;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: royalblue;
  width: 300px;
  box-shadow: 6px 6px 5px orange;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;

}

.title {
  width: 30%;
  color: lightseagreen;
}

.score {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 70%;
}

.game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}
.board {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.tile {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  font-size: 5em;
  background-color: lightseagreen;

}

#tile0 {
  border-right: 5px solid blue;
  border-bottom: 5px solid blue;
}

#tile1 {
  border-left: 5px solid blue;
  border-right: 5px solid blue;
  border-bottom: 5px solid blue;
}


#tile2 {
  border-left: 5px solid blue;
  border-bottom: 5px solid blue;
}


#tile3 {
  border-right: 5px solid blue;
  border-bottom: 5px solid blue;
  border-top: 5px solid blue;
}

#tile4 {
  border: 5px solid blue;
}

#tile5 {
  border-bottom: 5px solid blue;
  border-top: 5px solid blue;
  border-left: 5px solid blue;
}

#tile6 {
  border-right: 5px solid blue;
  border-top: 5px solid blue;
}

#tile7 {
  border-right: 5px solid blue;
  border-left: 5px solid blue;
  border-top: 5px solid blue;
}

#tile8 {
  border-left: 5px solid blue;
  border-top: 5px solid blue;
}